<div class="container-fluid">
  <h1 class="text-center">Check all the templates</h1>
  <p class="subtitle text-center">
    Click on one of the cards
  </p>
  <div class="page-center">
    <div class="card">
      <div class="bg"></div>
      <div class="blob"></div>
      <h3 class="card-title">Login</h3>
    </div>

    <div class="card">
      <div class="bg"></div>
      <div class="blob"></div>
      <h3 class="card-title">Homepage</h3>
    </div>

    <div class="card">
      <div class="bg"></div>
      <div class="blob"></div>
      <h3 class="card-title">Dashboard</h3>
    </div>

    <div class="card">
      <div class="bg"></div>
      <div class="blob"></div>
      <h3 class="card-title">Error Page</h3>
    </div>

    <div class="card">
      <div class="bg"></div>
      <div class="blob"></div>
      <h3 class="card-title">Pricing</h3>
    </div>
  </div>

</div>
