<div class="container-fluid">
  <h1 class="text-center">Welcome to my library!</h1>
  <p class="subtitle text-center">
    Explore my projects, resources, and collections
  </p>
  <body>
  <div class="page-center">
    <div class="card-3d">
      <div><div class="card">
    <h2>Check different templates</h2>
</div></div>
      <div><div class="card">
    <h2>View some reusable components</h2>
</div></div>
      <div><div class="card">
    <h2>Take a look at the help guide</h2>
</div></div>
      <div><div class="card">
    <h2>Contribute to the project</h2>
</div></div>
      <div><div class="card">
    <h2>Check different beautiful elements</h2>
</div></div>
      <div><div class="card">
    <h2>Create your own art</h2>
</div></div>
      <div><div class="card">
    <h2>Make your own modifications</h2>
</div></div>
      <div><div class="card">
    <h2>Use it in your projects</h2>
</div></div>
      <div><div class="card">
    <h2>Create portfolios with us</h2>
</div></div>
      <div><div class="card">
    <h2>Add some functionalities</h2>
</div></div>
    </div>
  </div>
  </body>

</div>
