h1 {
  text-decoration: none;
  border: none;
  text-align: center;
  font-size: clamp(42px, 6vw, 72px);
  font-weight: 600;
  background: none;
  font-family: 'Poppins', sans-serif;
  animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-direction: normal;
}

h1::before {
  margin-left: auto;
}

h1::after, h1::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

h1:hover::after, h1:hover::before {
  width: 100%;
}


@keyframes fadeIn {
  from{
    opacity: 0;
    transform:translateY(30px)
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}


/* From Uiverse.io by musashi-13 */
@keyframes autoRun3d {
  from {
    transform: perspective(800px) rotateY(-360deg);
  }
  to {
    transform: perspective(800px) rotateY(0deg);
  }
}

@keyframes animateBrightness {
  10% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.1);
  }
  90% {
    filter: brightness(1);
  }
}

.card-3d {
  position: relative;
  transform-style: preserve-3d;
  animation: autoRun3d 20s linear infinite;
  will-change: transform;
  width: 750px;
  height: 375px;
  transform: perspective(1200px);
}

.card-3d div {
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: rgb(199, 199, 199);
  border: solid 2px lightgray;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  animation: animateBrightness 20s linear infinite;
  transition-duration: 200ms;
  will-change: transform, filter;
}

.card-3d:hover {
  animation-play-state: paused !important;
}

.card-3d:hover div {
  animation-play-state: paused !important;
}

.card-3d div:nth-child(1) {
  transform: translate(-50%, -50%) rotateY(0deg) translateZ(340px);
  animation-delay: -0s;
}

.card-3d div:nth-child(2) {
  transform: translate(-50%, -50%) rotateY(36deg) translateZ(340px);
  animation-delay: -2s;
}

.card-3d div:nth-child(3) {
  transform: translate(-50%, -50%) rotateY(72deg) translateZ(340px);
  animation-delay: -4s;
}

.card-3d div:nth-child(4) {
  transform: translate(-50%, -50%) rotateY(108deg) translateZ(340px);
  animation-delay: -6s;
}

.card-3d div:nth-child(5) {
  transform: translate(-50%, -50%) rotateY(144deg) translateZ(340px);
  animation-delay: -8s;
}

.card-3d div:nth-child(6) {
  transform: translate(-50%, -50%) rotateY(180deg) translateZ(340px);
  animation-delay: -10s;
}

.card-3d div:nth-child(7) {
  transform: translate(-50%, -50%) rotateY(216deg) translateZ(340px);
  animation-delay: -12s;
}

.card-3d div:nth-child(8) {
  transform: translate(-50%, -50%) rotateY(252deg) translateZ(340px);
  animation-delay: -14s;
}

.card-3d div:nth-child(9) {
  transform: translate(-50%, -50%) rotateY(288deg) translateZ(340px);
  animation-delay: -16s;
}

.card-3d div:nth-child(10) {
  transform: translate(-50%, -50%) rotateY(324deg) translateZ(340px);
  animation-delay: -18s;
}

.page-center {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadeIn;
  animation-duration: 0.6s;
}

.card-3d {
  position: relative;
  transform-style: preserve-3d;
  animation: autoRun3d 20s linear infinite;
  width: 750px;
  height: 375px;
  transform: perspective(1200px);
}

.card,
.card h2 {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


.card {
  width: 190px;
  height: 254px;
  background: #06172b;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
}

.card-3d div:nth-child(1) .card { --c1:#00c6ff; --c2:#0072ff; }
.card-3d div:nth-child(2) .card { --c1:#7f00ff; --c2:#e100ff; }
.card-3d div:nth-child(3) .card { --c1:#f7971e; --c2:#ffd200; }
.card-3d div:nth-child(4) .card { --c1:#00f260; --c2:#0575e6; }
.card-3d div:nth-child(5) .card { --c1:#ff512f; --c2:#dd2476; }
.card-3d div:nth-child(6) .card { --c1:#1d976c; --c2:#93f9b9; }
.card-3d div:nth-child(7) .card { --c1:#8360c3; --c2:#2ebf91; }
.card-3d div:nth-child(8) .card { --c1:#ff8008; --c2:#ffc837; }
.card-3d div:nth-child(9) .card { --c1:#56ccf2; --c2:#2f80ed; }
.card-3d div:nth-child(10) .card { --c1:#ee0979; --c2:#ff6a00; }


.card::after {
  content: '';
  position: absolute;
  inset: 5px;
  background: #06172b;
  border-radius: 15px;
  z-index: 1;
}


.card h2 {
  z-index: 2;
  color: #fff;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 500;
  text-align: center;
  padding: 0 14px;
  max-width: 160px;
  letter-spacing: 0.2px;
}



.card::before {
  content: '';
  position: absolute;
  transition: all 0.2s linear;
  width: 110px;
  height: 140%;
  background: linear-gradient(180deg, var(--c1), var(--c2));
  animation: rotBGimg 4s linear infinite;
}



@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #07182E;
;
  inset: 5px;
  border-radius: 15px;
}

.subtitle {
  font-size: 18px;
  color: #666;
  margin-top: 6px;
  margin-bottom: 40px;
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}



.card {
  backface-visibility: hidden;
  transform: translateZ(0);
}


