<div class="container-fluid">
  <h1 class="text-center">Check all the elements</h1>
  <p class="subtitle text-center">
    Click on one of the cards
  </p>
  <div
    class="slider"
    style="--width: 200px;
    --height: 200px;
    --quantity: 9;"
  >
    <div class="list">
      <div class="item" style="--position: 1">
        <div
          class="card"
          style="background: linear-gradient(to right, #ff7e5f, #feb47b)"
        >
          <p>Buttons</p>
        </div>
      </div>
      <div class="item" style="--position: 2">
        <div
          class="card"
          style="background: linear-gradient(to right, #6a11cb, #2575fc)"
        >
          <p>Inputs</p>
        </div>
      </div>
      <div class="item" style="--position: 3">
        <div
          class="card"
          style="background: linear-gradient(to right, #00c6ff, #0072ff)"
        >
          <p>Cards</p>
        </div>
      </div>
      <div class="item" style="--position: 4">
        <div
          class="card"
          style="background: linear-gradient(to right, #ff512f, #dd2476)"
        >
          <p>Hover</p>
        </div>
      </div>
      <div class="item" style="--position: 5">
        <div
          class="card"
          style="background: linear-gradient(to right, #ffb6c1, #ff69b4)"
        >
          <p>Popovers</p>
        </div>
      </div>
      <div class="item" style="--position: 6">
        <div
          class="card"
          style="background: linear-gradient(to right, #ff9a8b, #ffc3a0)"
        >
          <p>Modals</p>
        </div>
      </div>
      <div class="item" style="--position: 7">
        <div
          class="card"
          style="background: linear-gradient(to right, #a1c4fd, #c2e9fb)"
        >
          <p>Charts</p>
        </div>
      </div>
      <div class="item" style="--position: 8">
        <div
          class="card"
          style="background: linear-gradient(to right, #fbc2eb, #a18cd1)"
        >
          <p>Checkbox</p>
        </div>
      </div>
      <div class="item" style="--position: 9">
        <div
          class="card"
          style="background: linear-gradient(to right, #84fab0, #8fd3f4)"
        >
          <p>Navbars</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="slider"
    id="slider2"
    style="--width: 200px;
    --height: 200px;
    --quantity: 9;"
  >
    <div class="list">
      <div class="item" style="--position: 1">
        <div
          class="card"
          style="background: linear-gradient(to right, #ff7e5f, #feb47b)"
        >
          <p>Stats</p>
        </div>
      </div>
      <div class="item" style="--position: 2">
        <div
          class="card"
          style="background: linear-gradient(to right, #6a11cb, #2575fc)"
        >
          <p>Accordions</p>
        </div>
      </div>
      <div class="item" style="--position: 3">
        <div
          class="card"
          style="background: linear-gradient(to right, #00c6ff, #0072ff)"
        >
          <p>Carousel</p>
        </div>
      </div>
      <div class="item" style="--position: 4">
        <div
          class="card"
          style="background: linear-gradient(to right, #ff512f, #dd2476)"
        >
          <p>Radios</p>
        </div>
      </div>
      <div class="item" style="--position: 5">
        <div
          class="card"
          style="background: linear-gradient(to right, #ffb6c1, #ff69b4)"
        >
          <p>Patterns</p>
        </div>
      </div>
      <div class="item" style="--position: 6">
        <div
          class="card"
          style="background: linear-gradient(to right, #ff9a8b, #ffc3a0)"
        >
          <p>Progress</p>
        </div>
      </div>
      <div class="item" style="--position: 7">
        <div
          class="card"
          style="background: linear-gradient(to right, #a1c4fd, #c2e9fb)"
        >
          <p>Loader</p>
        </div>
      </div>
      <div class="item" style="--position: 8">
        <div
          class="card"
          style="background: linear-gradient(to right, #fbc2eb, #a18cd1)"
        >
          <p>Footer</p>
        </div>
      </div>
      <div class="item" style="--position: 9">
        <div
          class="card"
          style="background: linear-gradient(to right, #84fab0, #8fd3f4)"
        >
          <p>Sidebar</p>
        </div>
      </div>
    </div>
  </div>
</div>
