<nav class="navbar">
  <div class="logo" routerLink="/">KERFAIS library</div>

  <div class="menu">
    <a
      class="menu-link"
      routerLink="/components"
      routerLinkActive="active"
    >
      Components
    </a>

    <a
      class="menu-link"
      routerLink="/templates"
      routerLinkActive="active"
    >
      Templates
    </a>

    <a
      class="menu-link"
      routerLink="/help"
      routerLinkActive="active"
    >
      Help guide
    </a>
  </div>
</nav>

<main class="page">
  <router-outlet></router-outlet>
</main>
